/* Adicionando estilo para o corpo do formulário */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-size: 16px;
  text-align: center;
}

/* Adicionando estilo para a seção do cabeçalho */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  padding: 10px;
  color: #fff;
}

/* Estilo para os botões Voltar e Sair */
.voltar-button,
.sair-button {
  padding: 8px;
  background-color: #fff;
  color: #3498db;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Estilo específico para o botão Sair, adicionando uma margem à esquerda */
.sair-button {
  margin-left: 10px;
}

/* Efeito de hover para os botões */
.voltar-button:hover,
.sair-button:hover {
  background-color: #2980b9;
  color: #fff;
}

/* Adicionando estilo para o h2 no cabeçalho */
.header h2 {
  margin: 0;
}

p {
  text-align: center;
}

/* Adicionando estilo para o formulário */
form {
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

/* Estilo específico para o botão de atualizar */
input[type="submit"],
.cancelar-button {
  background-color: #3498db;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Efeito de hover para o botão de atualizar */
input[type="submit"]:hover,
.cancelar-button:hover {
  background-color: #2980b9;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
