/* Estilos personalizados que complementam o Bootstrap */

body {
  background-color: #f5deb3; /* Cor de palha */
}

#loginButton {
  font-weight: bold;
  transition: all 0.3s;
  border-radius: 20px;
}

#loginButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
  #loginButton {
    font-size: 1.5rem;
    padding: 0.75rem;
  }

  footer .row {
    flex-direction: column;
    text-align: center !important;
  }

  footer .text-md-end {
    text-align: center !important;
  }
}
