/* Define o estilo básico do corpo da página */
body {
  font-family: "Arial", sans-serif; /* Define a fonte padrão para o corpo do texto */
  margin: 0; /* Remove as margens padrão */
  padding: 0; /* Remove o preenchimento padrão */
  background-color: #f2f2f2; /* Define a cor de fundo */
}

/* Estiliza os títulos de segundo nível (h2) */
h2 {
  background-color: #2ecc71; /* Define a cor de fundo */
  color: #fff; /* Define a cor do texto como branco */
  padding: 10px; /* Adiciona preenchimento interno */
  margin-top: 0; /* Remove a margem superior */
  width: 100%; /* Define a largura como 100% */
  text-align: center; /* Centraliza o texto */
}

/* Estiliza tabelas */
table {
  text-align: center; /* Centraliza o conteúdo da tabela */
  width: 80%; /* Define a largura como 80% */
  border-collapse: separate; /* Colapso das bordas */
  border-spacing: 0; /* Espaçamento entre as células */
  margin-top: 20px; /* Adiciona margem superior */
  background-color: #fff; /* Define a cor de fundo da tabela como branco */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
  margin: auto; /* Centraliza a tabela horizontalmente */
  border-radius: 30px; /* Adiciona bordas arredondadas */
  overflow: hidden; /* Adiciona overflow hidden para esconder as bordas */
}

/* Estiliza cabeçalhos de tabela (th) e células de dados (td) */
th,
td {
  padding: 8px; /* Adiciona preenchimento interno */
  text-align: center; /* Centraliza o texto */
}

/* Estiliza cabeçalhos de tabela */
th {
  background-color: #2ecc71; /* Define a cor de fundo */
  color: #fff; /* Define a cor do texto como branco */
}

/* Estiliza linhas de tabela */
tr {
  background-color: #2ecc71; /* Define a cor de fundo */
  color: #fff; /* Define a cor do texto como branco */
}

/* Estiliza linhas pares de tabela */
tr:nth-child(even) {
  background-color: #f2f2f2; /* Define a cor de fundo */
  color: #2ecc71; /* Define a cor do texto como verde */
}

/* Estiliza linhas de tabela ao passar o mouse */
tr:hover {
  background-color: #ddd; /* Define a cor de fundo ao passar o mouse */
  color: #000000; /* Define a cor do texto como preto */
}
